
@{
    ViewBag.Title = "Index";
}

@if (TempData["Success"] != null)
{
    <div class="alert alert-success">
        @TempData["Success"]
    </div>
}
@if (TempData["Failure"] != null)
{
    <div class="alert alert-danger">
        @TempData["Failure"]
    </div>
}

<h2 class="text-center">Choose Booking Type</h2>
<br />
<div class="row container col-md-12 text-center">
    <div class="col-md-6">
        <img class="card-img-top align-items-center" src="~/img/rack.jpg" alt="Card image">
        <div class="card-body">
            <a href="~/Booking/book-physical-device" class="btn btn-lg btn-block btn-info text-white ">Physical Device</a>
        </div>
    </div>
    <div class="col-md-6">
        <img class="card-img-top align-items-center" src="~/img/rack.jpg" alt="Card image">
        <div class="card-body">
            <a class="btn btn-lg btn-block btn-primary " href="~/Booking/BookingVirtualizeDevice">Book Virtualised Device</a>
        </div>
    </div>
</div>
