@{
    ViewBag.Title = "Reset";
}

<h2 class="text-center block text-gray-700 font-bold mb-2"><i class="fas fa-check-circle text-success"></i><span class="text-success"> Password Reset Successful</span></h2>
<hr />

<div class="alert alert-success text-center block text-gray-700 font-bold">
    <p> Account successfully reseted. You can now login to your account. Click <a href="~/Account/Login">here</a> to go to Login</p>
</div>
    
