@model DexterLab.Models.ViewModels.Account.UserNavPartialVM

<a class="userprofile text-white nav-link text-center bg-transparent btn" href="/Account/user-profile"> @Model.FirstName @Model.LastName (@Model.EmailAddress) </a>